In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from tqdm import tqdm
import gc
import random
import lightgbm as lgb
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold
import warnings
import seaborn as sns
warnings.filterwarnings(action='ignore')

# 필요한 함수 정의
def make_datetime(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = int(x[:4])
    month = int(x[4:6])
    day   = int(x[6:8])
    hour  = int(x[8:10])
    mim  = int(x[10:12])
    #sec  = int(x[12:])
    return dt.datetime(year, month, day, hour, mim)

def string2num(x):
    # (,)( )과 같은 불필요한 데이터 정제
    x = re.sub(r"[^0-9]+", '', str(x))
    if x =='':
        return 0
    else:
        return int(x)


PATH = '/kaggle/input/dacon-lg/'

### 현재까지 종합한 생성가능 파생변수들
- model_nm 변화 횟수 1회, 2회, 3회
- model_nm의 전체 더미변수
- fwver 변화 횟수 1~5회
- fwver의 전체 더미 변수
- 모든 errtype이 발생한 day의 평균, mode
- 모든 errtype이 발생한 hour의 평균, mode
- 모든 errtype이 발생한 weekday의 평균, mode
- 이하는 모두 errcode 관련 파생변수들
    - 1과 0
    - connection out 류
    - 알파벳 류
    - 다른 word codes (active, standby, http, ...) 각 word를 하나의 column으로 설정
    - 음수
    - 10번대 ~ 90번대
    - 1000번대 ~ 9000번대
    - 10000번 이상

In [2]:
'''
train_err  = pd.read_csv(PATH+'train_err_data.csv')
train_qual = pd.read_csv(PATH+'train_quality_data.csv')
train_prob = pd.read_csv(PATH+'train_problem_data.csv')

test_err = pd.read_csv(PATH+'test_err_data.csv')
test_qual = pd.read_csv(PATH+'test_quality_data.csv')
display(train_err.head())
display(train_qual.head())
'''

"\ntrain_err  = pd.read_csv(PATH+'train_err_data.csv')\ntrain_qual = pd.read_csv(PATH+'train_quality_data.csv')\ntrain_prob = pd.read_csv(PATH+'train_problem_data.csv')\n\ntest_err = pd.read_csv(PATH+'test_err_data.csv')\ntest_qual = pd.read_csv(PATH+'test_quality_data.csv')\ndisplay(train_err.head())\ndisplay(train_qual.head())\n"

In [3]:
train_err  = pd.read_csv(PATH+'train_err_data.csv')
test_err = pd.read_csv(PATH+'test_err_data.csv')
display(train_err)
display(test_err)

          user_id            time model_nm       fwver  errtype errcode
0           10000  20201101025616  model_3  05.15.2138       15       1
1           10000  20201101030309  model_3  05.15.2138       12       1
2           10000  20201101030309  model_3  05.15.2138       11       1
3           10000  20201101050514  model_3  05.15.2138       16       1
4           10000  20201101050515  model_3  05.15.2138        4       0
...           ...             ...      ...         ...      ...     ...
16554658    24999  20201130163051  model_3  05.15.2138       15       1
16554659    24999  20201130172625  model_3  05.15.2138       16       1
16554660    24999  20201130172625  model_3  05.15.2138        4       0
16554661    24999  20201130172631  model_3  05.15.2138        4       0
16554662    24999  20201130210625  model_3  05.15.2138       15       1

[16554663 rows x 6 columns]

          user_id            time model_nm       fwver  errtype errcode
0           30000  20201101030227  model_1  04.16.3553       31       1
1           30000  20201101030227  model_1  04.16.3553       33       2
2           30000  20201101030228  model_1  04.16.3553       15       1
3           30000  20201101030256  model_1  04.16.3553       22       1
4           30000  20201101030300  model_1  04.16.3553       11       1
...           ...             ...      ...         ...      ...     ...
16532643    44998  20201130210050  model_1  04.16.3553       40       0
16532644    44998  20201130211831  model_1  04.16.3553       31       1
16532645    44998  20201130211832  model_1  04.16.3553       15       1
16532646    44998  20201130212259  model_1  04.16.3553       16       1
16532647    44998  20201130212316  model_1  04.16.3553       31       0

[16532648 rows x 6 columns]

### train_err와 test_err의 공통점
- model_nm의 unique values는 같다
- errtype의 unique values는 같다

### train_err와 test_err의 차이점
- errcode에서, train과 test의 유니크값이 다르다 (각각에만 존재하는 errcode가 있다)
- fwver도 마찬가지로 각각에만 존재하는 errcode가 있다

test_err에서 10월 12월 데이터는 모두 합쳐 76개 밖에 안되므로 데이터의 범위를 11월달 한달로 지정한다. 따라서 10월 12월의 데이터는 삭제

라고 생각했지만 딱히 데이터의 날짜 범위를 지정할 필요는 없다. 왜냐하면 삭제한 data가 problem을 나타냈을 수도 있고, 삭제한 data가 quality_data에 있을 수도 있기때문에 그렇게 되면 quality_data에서도 다시한번 삭제 작업을 해주어야 한다. EDA당시에 10월 12월 데이터를 삭제한 이유는 11월 한달간의 error발생 횟수를 시각화 편의를 위해서 그런것이고 실제 전처리할때는 굳이 데이터를 삭제할 필요는 없다

In [4]:
print("train과 test의 fwver의 교집합:/n", np.intersect1d(train_err.fwver.unique(), test_err.fwver.unique()))
print("train과 test의 fwver의 합집합:/n", np.union1d(train_err.fwver.unique(), test_err.fwver.unique()))
print("train에만 있고 test에는 없는 fwver(차집합):/n", np.setdiff1d(train_err.fwver.unique(), test_err.fwver.unique()))
print("test에만 있고 train에는 없는 fwver(차집합):/n", np.setdiff1d(test_err.fwver.unique(), train_err.fwver.unique()))

train과 test의 fwver의 교집합:/n ['03.11.1141' '03.11.1149' '03.11.1167' '04.16.3439' '04.16.3553'
 '04.16.3569' '04.16.3571' '04.22.1656' '04.22.1666' '04.22.1684'
 '04.22.1750' '04.22.1778' '04.33.1125' '04.33.1149' '04.33.1171'
 '04.33.1185' '04.33.1261' '04.73.2237' '04.73.2571' '04.82.1684'
 '04.82.1730' '04.82.1778' '05.15.2092' '05.15.2114' '05.15.2120'
 '05.15.2138' '05.15.3104' '05.66.3237' '05.66.3571' '10' '8.5.3']
train과 test의 fwver의 합집합:/n ['03.11.1141' '03.11.1149' '03.11.1167' '04.16.2641' '04.16.3345'
 '04.16.3439' '04.16.3553' '04.16.3569' '04.16.3571' '04.22.1170'
 '04.22.1442' '04.22.1448' '04.22.1478' '04.22.1608' '04.22.1656'
 '04.22.1666' '04.22.1684' '04.22.1750' '04.22.1772' '04.22.1778'
 '04.33.1095' '04.33.1125' '04.33.1149' '04.33.1171' '04.33.1185'
 '04.33.1261' '04.73.2237' '04.73.2569' '04.73.2571' '04.73.2577'
 '04.82.1684' '04.82.1730' '04.82.1778' '05.15.2090' '05.15.2092'
 '05.15.2114' '05.15.2120' '05.15.2122' '05.15.2138' '05.15.3104'
 '05.66.3237' '05.66.3571' '10' '10.22.1770' '10.22.1780' '8.5.3']
train에만 있고 test에는 없는 fwver(차집합):/n ['04.16.2641' '04.16.3345' '04.22.1442' '04.33.1095' '05.15.2090'
 '05.15.2122']
test에만 있고 train에는 없는 fwver(차집합):/n ['04.22.1170' '04.22.1448' '04.22.1478' '04.22.1608' '04.22.1772'
 '04.73.2569' '04.73.2577' '10.22.1770' '10.22.1780']

- 파생변수를 만들때 train과 test의 fwver의 합집합으로 생성해야한다.

errcode에는 null값이 존재하므로 0으로 대치한다. 사실 최빈값인 1로 대치해야 하지만 null값이 별로 없기때문에 그 다음 최빈값인 0으로 해도 무방하다.

In [5]:
# 결측치를 대치할때 곧바로 fillna를 적용하기 위해서 inplace=True로 설정한다
train_err.errcode.fillna('0', inplace=True)
display(train_err.isnull().sum())
test_err.errcode.fillna('0', inplace=True)
display(test_err.isnull().sum())

user_id     0
time        0
model_nm    0
fwver       0
errtype     0
errcode     0
dtype: int64

user_id     0
time        0
model_nm    0
fwver       0
errtype     0
errcode     0
dtype: int64

In [6]:
print("train과 test의 errcode의 교집합:/n", np.intersect1d(train_err.errcode.unique(), test_err.errcode.unique()))
print("train과 test의 errcode의 합집합:/n", np.union1d(train_err.errcode.unique(), test_err.errcode.unique()))
print("train에만 있고 test에는 없는 errcode(차집합):/n", np.setdiff1d(train_err.errcode.unique(), test_err.errcode.unique()))
print("test에만 있고 train에는 없는 errcode(차집합):/n", np.setdiff1d(test_err.errcode.unique(), train_err.errcode.unique()))

train과 test의 errcode의 교집합:/n ['-269' '-270' '0' ... 'scanning timeout' 'standby'
 'terminate by peer user']
train과 test의 errcode의 합집합:/n ['-1010' '-269' '-270' ... 'standby' 'tVer' 'terminate by peer user']
train에만 있고 test에는 없는 errcode(차집합):/n ['10005' '10018' '10073' ... 'Y-00004' 'Y-00005' 'http']
test에만 있고 train에는 없는 errcode(차집합):/n ['-1010' '10020' '10029' ... 'eDes' 'me="' 'tVer']

- 모델링을 위해서 errcode의 파생변수는 train와 test의 교집합에서만 생성해야한다.

# 전처리 함수

In [7]:
def preprocessing(data):
    # time의 최소값
    data_time_min = make_datetime(data.time.min())
    # time을 datetime형태로 변경
    data["datetime"] = data["time"].apply(make_datetime)
    
    # 경과일 컬럼 생성
    data["days"] = (data["datetime"] - data_time_min).dt.days + 1
    # 시간대 컬럼 생성
    data["hour"] = data["datetime"].dt.hour
    # 요일 컬럼 생성
    data["weekday"] = data["datetime"].dt.weekday
    
    del data["time"], data["datetime"]
    return data

전처리 실행

In [8]:

start_minute = dt.datetime.now()

preprocessing(train_err)
preprocessing(test_err)

end_minute = dt.datetime.now()
print(f"경과시간: {(end_minute - start_minute)}")

display(train_err)
display(test_err)

경과시간: 0:01:13.696921

          user_id model_nm       fwver  errtype errcode  days  hour  weekday
0           10000  model_3  05.15.2138       15       1     1     2        6
1           10000  model_3  05.15.2138       12       1     1     3        6
2           10000  model_3  05.15.2138       11       1     1     3        6
3           10000  model_3  05.15.2138       16       1     1     5        6
4           10000  model_3  05.15.2138        4       0     1     5        6
...           ...      ...         ...      ...     ...   ...   ...      ...
16554658    24999  model_3  05.15.2138       15       1    30    16        0
16554659    24999  model_3  05.15.2138       16       1    30    17        0
16554660    24999  model_3  05.15.2138        4       0    30    17        0
16554661    24999  model_3  05.15.2138        4       0    30    17        0
16554662    24999  model_3  05.15.2138       15       1    30    21        0

[16554663 rows x 8 columns]

          user_id model_nm       fwver  errtype errcode  days  hour  weekday
0           30000  model_1  04.16.3553       31       1     1     3        6
1           30000  model_1  04.16.3553       33       2     1     3        6
2           30000  model_1  04.16.3553       15       1     1     3        6
3           30000  model_1  04.16.3553       22       1     1     3        6
4           30000  model_1  04.16.3553       11       1     1     3        6
...           ...      ...         ...      ...     ...   ...   ...      ...
16532643    44998  model_1  04.16.3553       40       0    30    21        0
16532644    44998  model_1  04.16.3553       31       1    30    21        0
16532645    44998  model_1  04.16.3553       15       1    30    21        0
16532646    44998  model_1  04.16.3553       16       1    30    21        0
16532647    44998  model_1  04.16.3553       31       0    30    21        0

[16532648 rows x 8 columns]

# 파생변수 생성

## 1) model_nm 더미변수 생성, model_nm 변화횟수 column 생성

In [9]:
model_nm_dummies = pd.get_dummies(train_err["model_nm"])
model_nm_dummies = pd.concat([train_err.user_id, model_nm_dummies], axis=1)

In [10]:
# 각 아이디당 모델의 출현횟수
model_nm_dummies = model_nm_dummies.groupby(model_nm_dummies.user_id).sum()

In [11]:
# 하지만 우리가 알고 싶은 것은 각 id에 어떤 모델이 있냐 없냐만 알고싶기때문에 counting 한것을 모두 1로 변환
# 즉, 해당 model_nm이 나타나면 1 아니면 0으로 바꾼다.
def one_zero(num):
    if num != 0:
        num = 1
    return num

for col in model_nm_dummies.columns:
    model_nm_dummies[str(col)] = model_nm_dummies[str(col)].apply(one_zero)
    
model_nm_dummies

,model_0,model_1,model_2,model_3,model_4,model_5,model_6,model_7,model_8
user_id,,,,,,,,,
10000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10001,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10003,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10004,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
24995,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
24996,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
24997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24998,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# 그리고 한 id가 몇개의 모델을 갖고 있는지 확인하기위해
# 한 행에서 출현한 숫자를 모두 더한다
# model_change_cnt가
# 1이면 1개의 모델
# 2이면 2개의 모델 -> 1번 변화
# 3이면 3개의 모델 -> 2번 변화
change_cnt = []
for i in range(len(model_nm_dummies.index)):
    change_cnt.append(model_nm_dummies.iloc[i].sum())
    
model_nm_dummies["model_change_cnt"] = change_cnt

display(model_nm_dummies)
# model_change_cnt의 value_counts를 시도하여 모델변화가 있는 사용자가 몇명인지 알아낼 수 있다.
model_nm_dummies.model_change_cnt.value_counts()

,model_0,model_1,model_2,model_3,model_4,model_5,model_6,model_7,model_8,model_change_cnt
user_id,,,,,,,,,,
10000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
10001,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
10003,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10004,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
24995,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24996,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
24997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24998,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

1.0    14297
2.0      702
3.0        1
Name: model_change_cnt, dtype: int64

## 2) fwver 더미변수 생성, fwver 변화횟수 column 생성
- model_nm과 같은 방식으로 column 생성한다

In [13]:
fwver_dummies = pd.get_dummies(train_err["fwver"])
fwver_dummies = pd.concat([train_err.user_id, fwver_dummies], axis=1)

# 각 아이디당 fwver의 출현횟수
fwver_dummies = fwver_dummies.groupby(fwver_dummies.user_id).sum()

# 하지만 우리가 알고 싶은 것은 각 id에 어떤 fwver이 있냐 없냐만 알고싶기때문에 counting 한것을 모두 1로 변환
# 즉, 해당 Fwver이 나타나면 1 아니면 0으로 바꾼다.
for col in fwver_dummies.columns:
    fwver_dummies[str(col)] = fwver_dummies[str(col)].apply(one_zero)
    
# 그리고 한 id가 몇개의 fwver을 갖고 있는지 확인하기위해
# 한 행에서 출현한 숫자를 모두 더한다
# fwver_change_cnt가
# 1이면 1개의 fwver
# 2이면 2개의 fwver -> 1번 변화
# 3이면 3개의 fwver -> 2번 변화
# 4이면 4개의 fwver -> 3번 변화
change_cnt = []
for i in range(len(fwver_dummies.index)):
    change_cnt.append(fwver_dummies.iloc[i].sum())
    
fwver_dummies["fwver_change_cnt"] = change_cnt

display(fwver_dummies)
# fwver_change_cnt의 value_counts를 시도하여 fwver 변화가 있는 사용자가 몇명인지 알아낼 수 있다.
fwver_dummies.fwver_change_cnt.value_counts()

,03.11.1141,03.11.1149,03.11.1167,04.16.2641,04.16.3345,04.16.3439,04.16.3553,04.16.3569,04.16.3571,04.22.1442,...,05.15.2114,05.15.2120,05.15.2122,05.15.2138,05.15.3104,05.66.3237,05.66.3571,10,8.5.3,fwver_change_cnt
user_id,,,,,,,,,,,,,,,,,,,,,
10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
10001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
10002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
10003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
10004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
24997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
24999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

2.0    8141
1.0    6420
3.0     396
4.0      43
Name: fwver_change_cnt, dtype: int64

- 많은 사용자들이 펌웨어 버전의 변화를 겪은 것으로 확인되었다.
- 15000 - 6420 = 8580명의 사용자가 fwver 변화를 겪었다

## 3) 모든 errtype이 발생한 days의 평균

- 인덱스만 있는 DataFrame을 만들고 한 컬럼씩 붙여나가는 방식

In [14]:
'''
# user_id 15000개의 인덱스만 있는 dataframe 생성
errtype_days_mean = pd.DataFrame(index=train_err.user_id.unique())
# errtype의 유니크 값
errtypes = np.sort(train_err.errtype.unique())

for t in tqdm(errtypes):
    # 에러타입이 t인 row로 이뤄진 dataframe
    each_errtype = train_err.loc[train_err["errtype"] == t]
    # 그 dataframe(each_errtype)에서 유니크한 id를 추출
    id_uniq = set(each_errtype.user_id)
    errtype_days_ls = []
    for i in range(10000, 25000):
        # id 10000 ~ 24999에서 id_uniq에 id가 있으면 days의 평균을 구하고,
        if i in id_uniq:
            errtype_days_ls.append(each_errtype.loc[each_errtype["user_id"] == i].days.mean())
        # 없으면 0
        else:
            errtype_days_ls.append(0)
    # 마지막에 다 모아놓은 list를 한 컬럼으로 치고 이어붙이기
    errtype_days_mean["errtype"+str(t)+"days_mean"] = errtype_days_ls
'''

'\n# user_id 15000개의 인덱스만 있는 dataframe 생성\nerrtype_days_mean = pd.DataFrame(index=train_err.user_id.unique())\n# errtype의 유니크 값\nerrtypes = np.sort(train_err.errtype.unique())\n\nfor t in tqdm(errtypes):\n    # 에러타입이 t인 row로 이뤄진 dataframe\n    each_errtype = train_err.loc[train_err["errtype"] == t]\n    # 그 dataframe(each_errtype)에서 유니크한 id를 추출\n    id_uniq = set(each_errtype.user_id)\n    errtype_days_ls = []\n    for i in range(10000, 25000):\n        # id 10000 ~ 24999에서 id_uniq에 id가 있으면 days의 평균을 구하고,\n        if i in id_uniq:\n            errtype_days_ls.append(each_errtype.loc[each_errtype["user_id"] == i].days.mean())\n        # 없으면 0\n        else:\n            errtype_days_ls.append(0)\n    # 마지막에 다 모아놓은 list를 한 컬럼으로 치고 이어붙이기\n    errtype_days_mean["errtype"+str(t)+"days_mean"] = errtype_days_ls\n'

- 인덱스와 컬럼을 모두 생성하고 0행렬 DataFrame에서 loc으로 각 위치를 매핑하는 방식

In [15]:
'''
# 인덱스와 컬럼을 모두 지정한 0행렬 dataframe 생성
# 컬럼은 errtype의 유니크 값들
errtypes = np.sort(train_err.errtype.unique())
errtype_days_mean = pd.DataFrame(index=train_err.user_id.unique(),
                                columns=errtypes)
errtype_days_mean.fillna(0, inplace=True)

for t in tqdm(errtypes):
    each_errtype = train_err.loc[train_err["errtype"] == t]
    id_uniq = set(each_errtype.user_id)
    for i in id_uniq:
        # 생성한 dataframe에서 loc으로 바로 찾아서 days의 평균을 매핑한다.
        errtype_days_mean.loc[i,t] = each_errtype.loc[each_errtype["user_id"] == i].days.mean()
    
display(errtype_days_mean)

# 하지만 연산 속도는 생각보다 느렸다.
# 내 코드실력이 여기까지인 것일 수도..
'''

'\n# 인덱스와 컬럼을 모두 지정한 0행렬 dataframe 생성\n# 컬럼은 errtype의 유니크 값들\nerrtypes = np.sort(train_err.errtype.unique())\nerrtype_days_mean = pd.DataFrame(index=train_err.user_id.unique(),\n                                columns=errtypes)\nerrtype_days_mean.fillna(0, inplace=True)\n\nfor t in tqdm(errtypes):\n    each_errtype = train_err.loc[train_err["errtype"] == t]\n    id_uniq = set(each_errtype.user_id)\n    for i in id_uniq:\n        # 생성한 dataframe에서 loc으로 바로 찾아서 days의 평균을 매핑한다.\n        errtype_days_mean.loc[i,t] = each_errtype.loc[each_errtype["user_id"] == i].days.mean()\n    \ndisplay(errtype_days_mean)\n\n# 하지만 연산 속도는 생각보다 느렸다.\n# 내 코드실력이 여기까지인 것일 수도..\n'

- 파생변수 생성 방법 두가지로 해봤는데 첫번째 방법이 더 빨랐다.
- 두번째 방법(loc으로 바로 매핑하기)는 의외로 느렸음

In [16]:
#너무 오래걸리기 때문에 csv파일로 저장후 불러오기
#errtype_days_mean.to_csv("errtype_days_mean.csv", index=False)
errtype_days_mean = pd.read_csv("/kaggle/input/errtype-days-mean/errtype_days_mean (1).csv")
display(errtype_days_mean)

,1,2,3,4,5,6,7,8,9,10,...,33,34,35,36,37,38,39,40,41,42
0,0.0,0.0,11.375,15.807692,0.000000,15.0,15.0,0.0,0.0,10.857143,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00
1,0.0,0.0,0.000,0.000000,19.716981,5.0,5.0,0.0,0.0,0.000000,...,16.0000,13.666667,0.0,12.0,12.0,0.0,0.0,11.283186,14.625000,21.00
2,0.0,0.0,18.500,13.742424,17.000000,16.0,16.0,0.0,0.0,21.000000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00
3,0.0,0.0,0.000,0.000000,11.500000,5.0,5.0,0.0,0.0,0.000000,...,17.7500,0.000000,0.0,10.0,10.0,8.0,0.0,12.117647,10.000000,0.00
4,0.0,0.0,0.000,10.000000,0.000000,10.0,11.0,0.0,0.0,0.000000,...,15.3125,0.000000,0.0,25.0,25.0,0.0,0.0,12.000000,0.000000,28.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,0.0,0.0,0.000,0.000000,20.000000,25.6,25.6,0.0,0.0,0.000000,...,25.0000,0.000000,0.0,0.0,0.0,0.0,0.0,24.888889,20.285714,26.25
14996,0.0,0.0,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00
14997,0.0,0.0,0.000,17.000000,28.000000,17.0,17.0,0.0,0.0,0.000000,...,15.1250,4.000000,0.0,19.0,19.0,0.0,0.0,11.275862,20.000000,25.00
14998,0.0,0.0,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,14.4000,10.000000,0.0,3.0,3.0,0.0,0.0,17.000000,0.000000,0.00
14999,0.0,0.0,13.500,15.447917,13.571429,14.2,13.5,0.0,0.0,0.000000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00

## 4) 모든 errtype이 발생한 hour의 평균

In [17]:
'''
# user_id 15000개의 인덱스만 있는 dataframe 생성
errtype_hour_mean = pd.DataFrame(index=train_err.user_id.unique())
# errtype의 유니크 값
errtypes = np.sort(train_err.errtype.unique())

for t in tqdm(errtypes):
    # 에러타입이 t인 row로 이뤄진 dataframe
    each_errtype = train_err.loc[train_err["errtype"] == t]
    # 그 dataframe(each_errtype)에서 유니크한 id를 추출
    id_uniq = set(each_errtype.user_id)
    errtype_hour_ls = []
    for i in range(10000, 25000):
        # id 10000 ~ 24999에서 id_uniq에 id가 있으면 hour의 평균을 구하고,
        if i in id_uniq:
            errtype_hour_ls.append(each_errtype.loc[each_errtype["user_id"] == i].hour.mean())
        # 없으면 0
        else:
            errtype_hour_ls.append(0)
    # 마지막에 다 모아놓은 list를 한 컬럼으로 치고 이어붙이기
    errtype_hour_mean["errtype"+str(t)+"_hour_mean"] = errtype_hour_ls
    
display(errtype_hour_mean)
'''

'\n# user_id 15000개의 인덱스만 있는 dataframe 생성\nerrtype_hour_mean = pd.DataFrame(index=train_err.user_id.unique())\n# errtype의 유니크 값\nerrtypes = np.sort(train_err.errtype.unique())\n\nfor t in tqdm(errtypes):\n    # 에러타입이 t인 row로 이뤄진 dataframe\n    each_errtype = train_err.loc[train_err["errtype"] == t]\n    # 그 dataframe(each_errtype)에서 유니크한 id를 추출\n    id_uniq = set(each_errtype.user_id)\n    errtype_hour_ls = []\n    for i in range(10000, 25000):\n        # id 10000 ~ 24999에서 id_uniq에 id가 있으면 hour의 평균을 구하고,\n        if i in id_uniq:\n            errtype_hour_ls.append(each_errtype.loc[each_errtype["user_id"] == i].hour.mean())\n        # 없으면 0\n        else:\n            errtype_hour_ls.append(0)\n    # 마지막에 다 모아놓은 list를 한 컬럼으로 치고 이어붙이기\n    errtype_hour_mean["errtype"+str(t)+"_hour_mean"] = errtype_hour_ls\n    \ndisplay(errtype_hour_mean)\n'

In [18]:
#errtype_hour_mean.to_csv("errtype_hour_mean.csv", index=False)
errtype_hour_mean = pd.read_csv("/kaggle/input/errtype-days-mean/errtype_hour_mean.csv")
display(errtype_hour_mean)

,errtype1_hour_mean,errtype2_hour_mean,errtype3_hour_mean,errtype4_hour_mean,errtype5_hour_mean,errtype6_hour_mean,errtype7_hour_mean,errtype8_hour_mean,errtype9_hour_mean,errtype10_hour_mean,...,errtype33_hour_mean,errtype34_hour_mean,errtype35_hour_mean,errtype36_hour_mean,errtype37_hour_mean,errtype38_hour_mean,errtype39_hour_mean,errtype40_hour_mean,errtype41_hour_mean,errtype42_hour_mean
0,0.0,0.0,13.25,9.423077,0.000000,4.000000,4.0,0.0,0.0,14.571429,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
1,0.0,0.0,0.00,0.000000,14.207547,4.000000,4.0,0.0,0.0,0.000000,...,6.3000,14.611111,0.0,3.0,3.0,0.0,0.0,12.938053,13.267857,2.0
2,0.0,0.0,19.00,14.651515,4.000000,19.000000,19.0,0.0,0.0,19.000000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
3,0.0,0.0,0.00,0.000000,21.000000,2.000000,2.0,0.0,0.0,0.000000,...,6.7500,0.000000,0.0,7.0,7.0,12.5,0.0,11.470588,21.000000,0.0
4,0.0,0.0,0.00,3.000000,0.000000,4.333333,8.5,0.0,0.0,0.000000,...,3.1250,0.000000,0.0,3.0,3.0,0.0,0.0,18.000000,0.000000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,0.0,0.0,0.00,0.000000,22.000000,14.000000,14.0,0.0,0.0,0.000000,...,5.4000,0.000000,0.0,0.0,0.0,0.0,0.0,17.666667,17.000000,2.0
14996,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
14997,0.0,0.0,0.00,23.000000,12.000000,1.000000,1.0,0.0,0.0,0.000000,...,6.8125,20.000000,0.0,3.0,3.0,0.0,0.0,12.655172,21.250000,3.0
14998,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,6.0000,18.000000,0.0,5.0,5.0,0.0,0.0,16.500000,0.000000,0.0
14999,0.0,0.0,5.00,9.864583,3.000000,4.200000,5.0,0.0,0.0,0.000000,...,0.0000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0

## 5) 모든 errtype이 발생한 weekday의 평균

In [19]:
'''
# user_id 15000개의 인덱스만 있는 dataframe 생성
errtype_weekday_mean = pd.DataFrame(index=train_err.user_id.unique())
# errtype의 유니크 값
errtypes = np.sort(train_err.errtype.unique())

for t in tqdm(errtypes):
    # 에러타입이 t인 row로 이뤄진 dataframe
    each_errtype = train_err.loc[train_err["errtype"] == t]
    # 그 dataframe(each_errtype)에서 유니크한 id를 추출
    id_uniq = set(each_errtype.user_id)
    errtype_weekday_ls = []
    for i in range(10000, 25000):
        # id 10000 ~ 24999에서 id_uniq에 id가 있으면 weekday의 평균을 구하고,
        if i in id_uniq:
            errtype_weekday_ls.append(each_errtype.loc[each_errtype["user_id"] == i].weekday.mean())
        # 없으면 0
        else:
            errtype_weekday_ls.append(0)
    # 마지막에 다 모아놓은 list를 한 컬럼으로 치고 이어붙이기
    errtype_weekday_mean["errtype"+str(t)+"_weekday_mean"] = errtype_weekday_ls
    
display(errtype_weekday_mean)
'''

'\n# user_id 15000개의 인덱스만 있는 dataframe 생성\nerrtype_weekday_mean = pd.DataFrame(index=train_err.user_id.unique())\n# errtype의 유니크 값\nerrtypes = np.sort(train_err.errtype.unique())\n\nfor t in tqdm(errtypes):\n    # 에러타입이 t인 row로 이뤄진 dataframe\n    each_errtype = train_err.loc[train_err["errtype"] == t]\n    # 그 dataframe(each_errtype)에서 유니크한 id를 추출\n    id_uniq = set(each_errtype.user_id)\n    errtype_weekday_ls = []\n    for i in range(10000, 25000):\n        # id 10000 ~ 24999에서 id_uniq에 id가 있으면 weekday의 평균을 구하고,\n        if i in id_uniq:\n            errtype_weekday_ls.append(each_errtype.loc[each_errtype["user_id"] == i].weekday.mean())\n        # 없으면 0\n        else:\n            errtype_weekday_ls.append(0)\n    # 마지막에 다 모아놓은 list를 한 컬럼으로 치고 이어붙이기\n    errtype_weekday_mean["errtype"+str(t)+"_weekday_mean"] = errtype_weekday_ls\n    \ndisplay(errtype_weekday_mean)\n'

In [20]:
#errtype_weekday_mean.to_csv("errtype_weekday_mean.csv", index=False)
errtype_weekday_mean = pd.read_csv("/kaggle/input/errtype-days-mean/errtype_weekday_mean.csv")
display(errtype_weekday_mean)

,errtype1_weekday_mean,errtype2_weekday_mean,errtype3_weekday_mean,errtype4_weekday_mean,errtype5_weekday_mean,errtype6_weekday_mean,errtype7_weekday_mean,errtype8_weekday_mean,errtype9_weekday_mean,errtype10_weekday_mean,...,errtype33_weekday_mean,errtype34_weekday_mean,errtype35_weekday_mean,errtype36_weekday_mean,errtype37_weekday_mean,errtype38_weekday_mean,errtype39_weekday_mean,errtype40_weekday_mean,errtype41_weekday_mean,errtype42_weekday_mean
0,0.0,0.0,3.25,3.038462,0.000000,6.000000,6.00,0.0,0.0,2.857143,...,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
1,0.0,0.0,0.00,0.000000,3.320755,3.000000,3.00,0.0,0.0,0.000000,...,3.500,1.944444,0.0,3.0,3.0,0.0,0.0,2.345133,2.500000,5.0
2,0.0,0.0,2.50,3.363636,1.000000,0.000000,0.00,0.0,0.0,5.000000,...,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
3,0.0,0.0,0.00,0.000000,2.500000,3.000000,3.00,0.0,0.0,0.000000,...,3.500,0.000000,0.0,1.0,1.0,2.5,0.0,3.117647,1.000000,0.0
4,0.0,0.0,0.00,1.000000,0.000000,3.333333,3.75,0.0,0.0,0.000000,...,3.250,0.000000,0.0,2.0,2.0,0.0,0.0,3.000000,0.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,0.0,0.0,0.00,0.000000,4.000000,4.000000,4.00,0.0,0.0,0.000000,...,2.000,0.000000,0.0,0.0,0.0,0.0,0.0,4.222222,4.285714,1.5
14996,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.000000,...,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
14997,0.0,0.0,0.00,1.000000,5.000000,1.000000,1.00,0.0,0.0,0.000000,...,2.625,2.000000,0.0,3.0,3.0,0.0,0.0,2.155172,4.000000,3.4
14998,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.000000,...,2.600,1.000000,0.0,1.0,1.0,0.0,0.0,1.000000,0.000000,0.0
14999,0.0,0.0,1.00,2.875000,3.571429,1.000000,1.00,0.0,0.0,0.000000,...,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0

## 6)-1 errcode (1과 0)
- 각 user_id 당, 1의 횟수와 0의 횟수를 count 한다.

In [21]:
# errcode가 1인 row를 추출
errcode_1_dummies = pd.get_dummies(train_err["errcode"] == "1")
# train_err의 user_id를 index로 설정
errcode_1_dummies = pd.concat([train_err.user_id, errcode_1_dummies.iloc[:,1]], axis=1)
# user_id로 groupby.sum() 실행
errcode_1_dummies = errcode_1_dummies.groupby(errcode_1_dummies.user_id).sum()
# 컬럼명 변경
errcode_1_dummies.columns = ["errcode_1"]
display(errcode_1_dummies)

         errcode_1
user_id
10000        212.0
10001       1274.0
10002        172.0
10003        229.0
10004        529.0
...            ...
24995        125.0
24996          3.0
24997        598.0
24998        125.0
24999        367.0

[15000 rows x 1 columns]

In [22]:
# errcode가 0인 row를 추출
errcode_0_dummies = pd.get_dummies(train_err["errcode"] == "0")
# train_err의 user_id를 index로 설정
errcode_0_dummies = pd.concat([train_err.user_id, errcode_0_dummies.iloc[:,1]], axis=1)
# user_id로 groupby.sum() 실행
errcode_0_dummies = errcode_0_dummies.groupby(errcode_0_dummies.user_id).sum()
# 컬럼명 변경
errcode_0_dummies.columns = ["errcode_0"]
display(errcode_0_dummies)

         errcode_0
user_id
10000        104.0
10001        183.0
10002        132.0
10003         42.0
10004         98.0
...            ...
24995         22.0
24996          0.0
24997        146.0
24998         13.0
24999        192.0

[15000 rows x 1 columns]

## 6)-2 errcode(connection이 포함된 errcode counting)
- 'connection timeout'
- 'connection fail to establish',
- 'connectionterminated by local host',
- 'connection fail for LMP response timout'
- 'L2CAP connection cancelled'

In [23]:
# errcode 중에 connect 가 포함된 값 추출
connection_err = []
for c in train_err.errcode.unique():
    if "connect" in c:
        connection_err.append(c)
        
print("connection 에러에 대한 errcode:", connection_err)


connection_vari = pd.DataFrame(index=train_err.user_id.unique())

for code in tqdm(connection_err):
    # train_err.user_id의 컬럼만 갖고있는 connection_frame DataFrame 생성
    connection_frame = pd.DataFrame(train_err.user_id)
    # errcode가 code인 row를 추출
    connection_dummies = pd.get_dummies(train_err["errcode"] == code)
    # 컬럼명을 code로 하는 column 생성
    connection_frame[code] = connection_dummies.iloc[:,1] #두번째 컬럼이 조건식 True인 column
    # user_id로 groupby.sum() 실행
    connection_frame = connection_frame.groupby(connection_frame.user_id).sum()
    # 최종 variables dataframe에 그룹바이 한 column 추가
    connection_vari[code] = connection_frame[code]

display(connection_vari)

  0%|          | 0/5 [00:00<?, ?it/s]

connection 에러에 대한 errcode: ['connection timeout', 'connection fail to establish', 'connectionterminated by local host', 'connection fail for LMP response timout', 'L2CAP connection cancelled']

100%|██████████| 5/5 [00:09<00:00,  1.88s/it]

,connection timeout,connection fail to establish,connectionterminated by local host,connection fail for LMP response timout,L2CAP connection cancelled
10000,0.0,0.0,0,0,0
10001,0.0,0.0,0,0,0
10002,0.0,0.0,0,0,0
10003,7.0,0.0,0,0,0
10004,104.0,1.0,0,0,0
...,...,...,...,...,...
24995,0.0,0.0,0,0,0
24996,0.0,0.0,0,0,0
24997,13.0,0.0,1,0,0
24998,0.0,0.0,0,0,0
24999,0.0,0.0,0,0,0

## 6)-3 알파벳이 포함된 errcode
- EDA를 통해 '알파벳-숫자' 형태의 errcode가 있다는 것을 알았고, 특정 알파벳을 직접 눈으로 확인하였다.

In [24]:
# EDA를 통해 확인한 errcode의 알파벳 종류
alphabet = ['P-', 'B-', 'Q-', 'S-', 'U-', 'C-', 'H-', 'J-', 'E-', 'En', 'Y-', 'D-', 'M-']
errcode_uniq = train_err.errcode.unique()
alphabet_err = []

for errcode in tqdm(errcode_uniq):
    for alpha in alphabet:
        if alpha in errcode:
            alphabet_err.append(errcode)
            

print(alphabet_err)

100%|██████████| 2805/2805 [00:00<00:00, 716898.59it/s]

['B-A8002', 'Q-64002', 'S-61001', 'U-81009', 'S-64002', 'J-30021', 'S-65002', 'Q-64001', 'H-51042', 'C-11017', 'H-51046', 'H-51049', 'P-44010', 'P-41011', 'B-51042', 'P-41007 ', 'M-99999', 'U-82024', 'P-44010 ', 'H-51048', 'U-82026', 'P-41007', 'C-13053', 'C-14014', 'J-20029', 'J-30010', 'Y-00008', 'S-64000', 'En00409', 'E-59902', 'Q-73004', 'C-12032', 'J-40011', 'U-82023', 'Q-73006', 'D-10011', 'S-65', 'M-51007', 'S-64001', 'Y-00005', 'D-99999', 'U-82004', 'En00402', 'B-51049', 'C-11020', 'M-51020', 'En00406', 'C-11087', 'U-81000', 'Y-00004', 'C-13039', 'U-82020', 'P-41011 ', 'P-41001', 'U-81014']

In [25]:
np.sort(alphabet_err)

array(['B-51042', 'B-51049', 'B-A8002', 'C-11017', 'C-11020', 'C-11087',
       'C-12032', 'C-13039', 'C-13053', 'C-14014', 'D-10011', 'D-99999',
       'E-59902', 'En00402', 'En00406', 'En00409', 'H-51042', 'H-51046',
       'H-51048', 'H-51049', 'J-20029', 'J-30010', 'J-30021', 'J-40011',
       'M-51007', 'M-51020', 'M-99999', 'P-41001', 'P-41007', 'P-41007 ',
       'P-41011', 'P-41011 ', 'P-44010', 'P-44010 ', 'Q-64001', 'Q-64002',
       'Q-73004', 'Q-73006', 'S-61001', 'S-64000', 'S-64001', 'S-64002',
       'S-65', 'S-65002', 'U-81000', 'U-81009', 'U-81014', 'U-82004',
       'U-82020', 'U-82023', 'U-82024', 'U-82026', 'Y-00004', 'Y-00005',
       'Y-00008'], dtype='<U8')

In [26]:
len(alphabet_err)

55

- 알파벳 errcode의 갯수는 55개이다. 이들을 알파벳으로 그룹핑하려고 했으나 변수의 수가 그렇게 많아진다고 판단되지 않아 그대로 55개의 컬럼을 생성하기로 결정했다. -> 이는 팀프로젝트에서 라면 팀원들과 상의를 해봐야하는 부분이다. 코딩이나 시간으로 큰 차이는 없지만 유의미성 면에서 내가 독단적으로 판단하기엔 섣부르다. 아니면 아예 모델링까지 해서 결과를 보고 좋은 결과를 내는 쪽을 선택하면 된다.

In [27]:
print("alphabet 에러에 대한 errcode:", alphabet_err)


alphabet_vari = pd.DataFrame(index=train_err.user_id.unique())

for code in tqdm(alphabet_err):
    # train_err.user_id의 컬럼만 갖고있는 alphabet_frame DataFrame 생성
    alphabet_frame = pd.DataFrame(train_err.user_id)
    # errcode가 code인 row를 추출
    alphabet_dummies = pd.get_dummies(train_err["errcode"] == code)
    # 컬럼명을 code로 하는 column 생성
    alphabet_frame[code] = alphabet_dummies.iloc[:,1] #두번째 컬럼이 조건식 True인 column
    # user_id로 groupby.sum() 실행
    alphabet_frame = alphabet_frame.groupby(alphabet_frame.user_id).sum()
    # 최종 variables dataframe에 그룹바이 한 column 추가
    alphabet_vari[code] = alphabet_frame[code]

display(alphabet_vari)

  0%|          | 0/55 [00:00<?, ?it/s]

alphabet 에러에 대한 errcode: ['B-A8002', 'Q-64002', 'S-61001', 'U-81009', 'S-64002', 'J-30021', 'S-65002', 'Q-64001', 'H-51042', 'C-11017', 'H-51046', 'H-51049', 'P-44010', 'P-41011', 'B-51042', 'P-41007 ', 'M-99999', 'U-82024', 'P-44010 ', 'H-51048', 'U-82026', 'P-41007', 'C-13053', 'C-14014', 'J-20029', 'J-30010', 'Y-00008', 'S-64000', 'En00409', 'E-59902', 'Q-73004', 'C-12032', 'J-40011', 'U-82023', 'Q-73006', 'D-10011', 'S-65', 'M-51007', 'S-64001', 'Y-00005', 'D-99999', 'U-82004', 'En00402', 'B-51049', 'C-11020', 'M-51020', 'En00406', 'C-11087', 'U-81000', 'Y-00004', 'C-13039', 'U-82020', 'P-41011 ', 'P-41001', 'U-81014']

100%|██████████| 55/55 [01:45<00:00,  1.91s/it]

,B-A8002,Q-64002,S-61001,U-81009,S-64002,J-30021,S-65002,Q-64001,H-51042,C-11017,...,M-51020,En00406,C-11087,U-81000,Y-00004,C-13039,U-82020,P-41011,P-41001,U-81014
10000,0.0,0,0.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10001,53.0,0,0.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,0.0,1,0.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,1.0,0,1.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10004,0.0,0,0.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,2.0,0,0.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24996,0.0,0,0.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24997,8.0,0,0.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24998,0.0,0,0.0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24999,0.0,6,0.0,0,0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

- 0의 비율이 굉장히 높은 Dataframe이 생성되었다. 애초에 알파벳이 들어간 errcode의 갯수가 많지가 않다..

## 6)-4 word로 구성된 errcode
- PHONE_ERR, PUBLIC_ERR, standby, active, UNKNOWN, scanning timeout, NFANDROID2, CM a, http

In [28]:
# word로 구성된 errcode를 EDA를 통해 확인하고 하나의 리스트로 그룹핑
word_err = ['PHONE_ERR', 'PUBLIC_ERR', 'standby', 'active', 'UNKNOWN', 'scanning timeout', 'NFANDROID2', 'CM a', 'http']
print("word로 구성된 errcode:\n", word_err)

word_vari = pd.DataFrame(index=train_err.user_id.unique())

for code in tqdm(word_err):
    # train_err.user_id의 컬럼만 갖고있는 word_frame DataFrame 생성
    word_frame = pd.DataFrame(train_err.user_id)
    # errcode가 code인 row를 추출
    word_dummies = pd.get_dummies(train_err["errcode"] == code)
    # 컬럼명을 code로 하는 column 생성
    word_frame[code] = word_dummies.iloc[:,1] #두번째 컬럼이 조건식 True인 column
    # user_id로 groupby.sum() 실행
    word_frame = word_frame.groupby(word_frame.user_id).sum()
    # 최종 variables dataframe에 그룹바이 한 column 추가
    word_vari[code] = word_frame[code]

display(word_vari)

  0%|          | 0/9 [00:00<?, ?it/s]

word로 구성된 errcode:
 ['PHONE_ERR', 'PUBLIC_ERR', 'standby', 'active', 'UNKNOWN', 'scanning timeout', 'NFANDROID2', 'CM a', 'http']

100%|██████████| 9/9 [00:16<00:00,  1.88s/it]

,PHONE_ERR,PUBLIC_ERR,standby,active,UNKNOWN,scanning timeout,NFANDROID2,CM a,http
10000,0,0,0.0,0.0,0,0,0.0,0,0
10001,0,0,625.0,126.0,0,0,56.0,0,0
10002,0,0,0.0,0.0,0,0,0.0,0,0
10003,0,0,0.0,12.0,0,0,1.0,0,0
10004,0,0,5.0,7.0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...
24995,0,0,8.0,4.0,0,0,7.0,0,0
24996,0,0,0.0,0.0,0,0,0.0,0,0
24997,0,0,11.0,4.0,0,0,8.0,0,0
24998,0,0,0.0,1.0,0,0,0.0,0,0
24999,0,0,0.0,0.0,0,0,0.0,0,0

## 6)-5 음수(-)인 errcode

In [32]:
int('time')

ValueError: invalid literal for int() with base 10: 'time'

In [69]:
print(re.match('0{2,}', '0001'))

<re.Match object; span=(0, 3), match='000'>

In [73]:
def int2bInt(x):
    # 문자로 구성된 errcode를 찾는다
    searched = re.search('[a-zA-Z]+', str(x))
    # 0으로 시작하지만 모두 숫자인 errcode를 찾는다 (ex. 0001)
    matched = re.match('0{2,}', str(x))
    if searched:
        result = x
    elif matched:
        result = x
    else:
        result = int(float(x)) # 위 조건이 아닌 errcode(정수인 errcode)는 int로 바꾼다.
    return result

int_errcode = []

for code in errcode_uniq:
    int_errcode.append(int2bInt(code))

print(int_errcode)

[1, 0, 2, 'NFANDROID2', 'B-A8002', 14, 4, 13, 3, 8, 'standby', 'active', 'Q-64002', 'connection timeout', 'S-61001', 6796, 5738, 'terminate by peer user', 'connection fail to establish', 80, 79, 81, 86, 84, 'connectionterminated by local host', 77, 78, 'UNKNOWN', 85, 90, 89, 88, 'U-81009', 'V-21008', 700001, 'connection fail for LMP response timout', 'S-64002', 6467, 4893, 5507, 'J-30021', 83, 95, 94, 91, 87, 82, 93, 'S-65002', 6, 5, -269, 'Q-64001', 'H-51042', 'C-11017', 39391, 3113, 3674, 3395, 4625, 6362, 21, 3569, 'H-51046', 3065, 3014, 'scanning timeout', 3633, 3092, 3332, 92, 96, 97, 100, 105, 110, 106, 101, 3758, 5007, 76, 'H-51049', 5843, 3825, 4714, 4358, 5794, 3120, 3630, 3102, 3475, 3328, 3242, 3071, 'V-21002', 5527, 5588, 5752, 5695, 3018, 5879, 3361, 108133, 5699, 3033, 174669, 'V-21003', 'V-21004', 'V-21005', 5901, 5878, 5943, 5809, 5831, 4984, 5726, 6117, 5889, 5898, 5796, 4171, 4683, 5557, 3843, 3141, 5655, 6502, 3084, 5759, 4049, 7433, 5443, 7396, 6093, 5113, 3975, 4231, 3588, 6175, 3056, 6679, 9232, 5372, 5168, 4922, 10721, 6714, 8391, 4449, 5341, 10305, 4080, 6951, 5621, 8260, 5102, 8278, 9601, 3533, 8019, 8974, 3974, 8355, 3464, 4348, 8006, 3623, 5780, 6166, 7765, 4026, 4389, 3456, 8606, 6806, 6846, 3121, 5442, 3430, 6419, 5955, 10412, 6947, 4058, 6621, 4141, 6344, 6074, 9677, 6152, 5157, 8931, 10080, 7626, 4821, 6179, 4314, 'P-44010', 'P-41011', 5924, 56789, 61852, 5524, 3319, 3405, 3222, 3203, 3271, 3557, 'B-51042', 'P-41007 ', 73195, 82561, 3035, 3434, 3323, 5412, 'M-99999', 5519, 3062, 3433, 3191, 3089, 3149, 3206, 9934, 3122, 3040, 5948, 104, 99, 109, 98, 5636, 6326, 'U-82024', 5872, 5849, 56896, 3013, 10782, 4604, 5830, 3510, 3223, 3224, 5803, 3099, 3064, 3235, 3703, 3329, 75, 14154, 15790, 'P-44010 ', 10573, 3198, 3074, 3379, 3641, 3132, 'PHONE_ERR', 8356, 3178, 3114, 3393, 3151, 3644, 3559, 3498, 6186, 13162, 4981, 6434, 'H-51048', 3537, 3007, 5917, 12687, 5825, 3268, 3372, 3022, 3875, 3070, 10768, 'PUBLIC_ERR', 3378, 3233, 9462, 3553, 4036, 3176, 3050, 3350, 3006, 3270, 3043, 3391, 3440, 3400, 3096, 3383, 3021, 3238, 5401, 3201, 10807, 3488, 3267, 6177, 4280, 6592, 6364, 7742, 7746, 6104, 3598, 5638, 10518, 5954, 3083, 74, 3479, 5913, 3527, 3008, 3272, 3296, 5826, 8738, 3855, 3669, 7896, 108, 103, 42, 3063, 107, 102, 72, 3019, 41, 3384, 36616, 3788, 3309, 3446, 5223, 4341, 5985, 5851, 5990, 3480, 5749, 5712, 3341, 7968, 3595, 10792, 4444, 5919, 12785, 5953, 3662, 10933, 5894, 5784, 3948, 5753, 5429, 20920, 3038, 3237, 3407, 3768, 5860, 6000, 3212, 20859, 5932, 20985, 5455, 60045, 5385, 7442, 7236, 3072, 18664, 43451, 11259, 113066, 11674, 3059, 3130, 3026, 3470, 21621, 5998, 7829, 'U-82026', 5570, 3318, 3611, 3217, 3031, 3077, 3548, 'P-41007', 3624, 5660, 5569, 3787, 5804, 9354, 3257, 3802, 3741, 3110, 3175, 3663, 3718, 'C-13053', 3473, 5389, 3109, 6292, 31175, 11864, 3493, 3425, 527746, 5775, 14642, 5459, 3066, 30376, 4787, 6176, 5270, 3256, 79883, 39830, 11295, 4608, 3828, 7406, 181089, 7475, 6758, 22193, 62455, 10861, 'C-14014', 'V-21010', 3945, 3917, 51670, 3336, 3865, 3544, 16027, 5933, 'J-20029', 3778, 3288, 3886, 3330, 3822, 3534, 'J-30010', 5944, 5245, 3360, 3520, 9556, 5820, 3925, 5967, 6192, 3823, 3839, 3200, 3095, 3538, 9028, 5653, 7339, 'Y-00008', 3303, 3555, 'S-64000', 5374, 5709, 3314, 5788, 3761, 5891, 10949, 6009, 3208, 3240, 3075, 3746, 3545, 3079, 36388, 41838, 5934, 3518, 3315, 'En00409', 6321, 16015, 3523, 5976, 3424, 4000, 'E-59902', 4088, 5576, 6056, 5927, 5733, 9774, 5631, 74770, 'Q-73004', 3148, 4475, 3078, 3221, 3694, 3253, 3581, 3683, 3250, 3001, 3558, 3542, 3564, 3104, 'C-12032', 11043, 16163, 3597, 7910, 18699, 3362, 3854, 3032, 3244, 1174404, 5768, 7670, 5822, 7927, 5688, 5858, 5641, 6920, 5637, 38326, 5632, 6005, 3769, 5486, 5487, 5827, 5603, 6081, 6088, 5996, 3088, 5789, 5702, 5449, 5828, 5811, 3310, 'J-40011', 4022, 4378, 3626, 3586, 3608, 3090, 9687, 11146, 5724, 3476, 3471, 6158, 5875, 3721, 3503, 3805, 3164, 5746, 6829, 3053, 4211, 10406, 3717, 3903, 3413, 9983, 3326, 3693, 70, 4568866, 5536, 'U-82023', 3207, 10749, 15748, 26347, 15890, 46679, 5509, 4971, 3477, 3081, 11063, 3941, 8000, 4255, 3862, 7301, 3583, 3045, 3060, 3521, 35065, 24569, 31418, 25667, 8918, 3505, 4824, 3455, 31460, 3403, 21288, 3190, 5884, 5510, 3627, 3210, 5665, 3409, 5506, 'Q-73006', 5552, 3346, 3371, 4662, 5644, 5852, 105690, 3263, 3226, 3755, 4741, 5799, 4015, 3289, 4513, 64013, 3324, 15939, 4521, 8533, 4285, 3259, 8453, 26133, 3889, 16241, 41356, 5215, 3133, 3610, 3124, 3052, 5418, 3129, 3160, 3951, 3044, 3186, 5735, 4074, 6025, 5938, 3016, 3971, 5844, 6474, 8460, 5342, 5494, 3098, 3269, 5562, 5559, 5761, 5573, 4102, 5765, 6196, 3085, 10309, 3005, 5814, 3412, 3550, 5634, 3138, 3343, 3442, 3435, 3465, 3107, 4012, 5925, 8059, 5663, 5980, 5870, 5984, 6034, 3418, 3150, 4459, 5475, 4696, 6942, 7124, 4035, 8020, 4557, 4916, 8058, 6032, 3838, 6852, 5877, 7666, 7962, 16153, 27198, 54043, 55163, 33785, 52668, 7917, 5887, 6123, 5530, 5421, 5795, 5558, 5492, 3589, 7972, 5748, 39613, 3519, 3483, 20934, 72385, 8915, 3279, 3883, 24001, 30415, 12265, 21339, 1166733, 6200, 6830, 3414, 8459, 4463, 4912, 3128, 5808, 10073, 7237, 6023, 46925, 5607, 5551, 3125, 5867, 3777, 3408, 'D-10011', 102789, 3260, 3101, 3284, 3591, 8022, 3760, 3302, 3265, 3094, 6064, 3126, 3320, 6036, 6904, 10267, 7708, 5873, 9906, 6345, 4978, 5823, 3010, 3024, 3020, 3706, 4278, 5456, 4799, 'S-65', 5472, 3389, 5041, 3690, 3103, 3773, 6465, 4805, 3366, 3017, 'M-51007', 20, 43650, 3723, 3664, 5754, 5498, 5586, 26246, 3977, 4897, 36333, 6053, 5813, 10803, 3466, 3411, 4126, 8488, 5708, 20557, 5776, 5705, 5903, 3220, 3506, 3139, 'S-64001', 5800, 6122, 5973, 4308, 71, 26414, 4030, 3655, 3811, 4288, 'Y-00005', 80477, 15989, 5815, 5470, 3243, 3177, 3776, 3691, 3536, 3229, 3459, 7771, 5952, 3011, 3513, 36213, 5773, 4575, 3273, 6258, 5553, 3783, 184457, 3205, 5205, 5961, 5819, 3810, 3042, 'P_41007', 3028, 5668, 3166, 3497, 3182, 3283, 4247, 3541, 3956, 3134, 3947, 6743, 7686, 12125, 6212, 11014, 38135, 262579, 5541, 11751, 3499, 3824, 3299, 3485, 4290, 8549, 4189, 184780, 5430, 5391, 5658, 6447, 4759, 4204, 5935, 5407, 69, 8819, 3914, 31794, 8056, 2638, 'CM a', 5379, 5626, 5467, 5942, 6402, 6285, 3340, 5978, 8087, 3795, 3173, 5969, 8731, 3131, 10812, 3716, 3469, 16050, 10980, 5048, 4393, 40013, 11251, 8408, 4606, 3357, 4183, 3307, 3444, 3531, 3009, 3876, 3546, 3168, 5675, 4182, 5715, 11070, 13995, 3532, 3627157, 4399, 5667, 5438, 5727, 5751, 3027, 3659, 3714, 3842, 3648, 'D-99999', 'L2CAP connection cancelled', 3293, 4067, 'U-82004', 5482, 6014, 5824, 3067, 3290, 7654, 10830, 7370, 5463, 3688, 4577, 5590, 5993, 5600, 5117, 3931, 8684, 5578, 10827, 5710, 20911, 892446, 15800, 5697, 10005, 3086, 6466, 3806, 3321, 5581, 6140, 5561, 5991, 3251, 66986, 16860, 4721, 5845, 7321, 3461, 3306, 7873, 3188, 3136, 15700, 4149, 5986, 'En00402', 3615, 46616, 4963, 5587, 5593, 5883, 5521, 15979, 6021, 5585, 10841, 10997, 5876, 16253, 5528, 5671, 9314, 5721, 5834, 5659, 5554, 21203, 52103, 15999, 11068, 15969, 36490, 10852, 5468, 36831, 10670, 5523, 21270, 26213, 5911, 6010, 3380, 3672, 3073, 3704, 3241, 3348, 3457, 7248, 3737, 5728, 3373, 5651, 5859, 5520, 5567, 7835, 3375, 3276, 3922, 5452, 5624, 5511, 5764, 5393, 5798, 5912, 5483, 5677, 5620, 5767, 5758, 5863, 5997, 5915, 5537, 5388, 5545, 6024, 5404, 5514, 5874, 5694, 5477, 5701, 5454, 5485, 5928, 5774, 5850, 5805, 5550, 5608, 5947, 5835, 5737, 5367, 5431, 5950, 5496, 5474, 5491, 5478, 5732, 5810, 5847, 5848, 5572, 5785, 6111, 5563, 6048, 5957, 5543, 5426, 5513, 5533, 5762, 5757, 5893, 5461, 5792, 5906, 5937, 5382, 5396, 5499, 5654, 3322, 3420, 3401, 41677, 4807, 10898, 3248, 3204, 3153, 3367, 3058, 3600, 3002, 4160, 3709, 3291, 4432, 3481, 8090, 'B-51049', 3590, 4903, 6894, 5415, 41403, 3277, 3431, 3722, 4567, 3432, 3154, 4313, 5518, 10684, 20816, 3339, 10934, 73, 3772, 3337, 5829, 5326, 5484, 8843, 5575, 5763, 5766, 'C-11020', 3416, 3106, 3161, 3023, 3543, 3402, 3639, 3713, 4733, 4923, 3942, 3193, 4778, 4481, 4750, 4052, 4507, 4390, 3920, 9301, 5970, 5453, 5420, 5320, 3643, 3570, 3374, 3495, 'V-21007', 3295, 5791, 3463, 3214, 5680, 3897, 3671, 3232, 3640, 3181, 133496, 4473, 4254, 68, 3218, 7744, 3820, 3143, 4133, 5001, 3602, 3762, 6532, 5686, 4165, 13339, 4735, 3359, 3170, 8226, 5696, 7784, 5687, 8937, 169623, 5595, 6759, 5580, 5941, 4498, 10612, 10630, 3638, 5424, 3197, 3108, 5160, 3142, 3767, 8442, 8592, 3549, 3871, 7408, 4404, 5606, 214873, 'M-51020', 5599, 6047, 5464, 3902, 5556, 3112, 3262, 5504, 3943, 4192, 3932, 3419, 3844, 4532, 4866, 3514, 3666, 3763, 6075, 41365, 3899, 3392, 3261, 3305, 3912, 3950, 5999, 3219, 5328, 3281, 3202, 7595, 4259, 87427, 41554, 21140, 255847, 3745, 3194, 5362, 5639, 4332, 3069, 3275, 3025, 3137, 3280, 3354, 5755, 3933, 159695, 26145, 6028, 6958, 52094, 3697, 7989, 5707, 5864, 3034, 5480, 3509, 5616, 4630, 4195, 5473, 3353, 3619, 3355, 5610, 14739, 28506, 5740, 3654, 6263, 3049, 5992, 3225, 3526, 3349, 5679, 5682, 3159, 6316, 3744, 15303, 4943, 6837, 10552, 3051, 5611, 13171, 21725, 12952, 17722, 6696, 3813, 4138, 3734, 62, 3512, 35124, 57247, 5777, 3146, 10101, 5821, 46, 38, 37, 5779, 4105, 3765, 5905, 4329, 8053, 3677, 16079, 6545, 15250, 20906, 44380, 82694, 3445, 8255, 59951, 3437, 3625, 21885, 3155, 3247, 3363, 3472, 3046, 3356, 3012, 24285, 140055, 23252, 4559, 4361, 'En00406', 'C-11087', 3522, 3347, 6412, 3287, 3649, 6100, 5437, 3976, 3616, 5987, 3228, 5722, 6485, 3781, 7837, 3282, 3877, 3278, 3646, 3667, 3140, 3492, 33980, 5199, 4441, 3699, 3895, 4729, 4334, 4062, 7904, 3036, 3423, 12026, 10557, 4435, 36541, 26171, 10720, 11886, 5392, 5469, 4123, 72038, 3231, 8263, 5909, 5645, 10274, 3436, 3657, 67245, 4629, 11324, 20152, 17073, 9574, 25962, 5597, 5963, 15589, 5539, 10955, 8372, 5910, 3312, 4549, 5604, 3599, 3358, 112910, 5447, 5855, 4796, 7168, 5783, 3234, 5577, 3174, 459578, 3715, 5959, 4225, 6898, 7190, 8252, 6410, 97772, 26166, 4905, 3004, 6363, 3087, 3826, 6142, 3394, 3325, 3192, 4203, 10819, 4837, 4703, 8046, 5175, 15734, 3905, 54094, 3123, 11033, 52002, 21164, 134588, 7797, 57293, 18836, 120256, -270, 10043, 6599, 9030, 3816, 5670, 3511, 6396, 6118, 4008, 3165, 5790, 4596, 5691, 5946, 4197, 3719, 4522, 3076, 5787, 9323, 8851, 6667, 3847, 10153, 154638, 137526, 12, 4150, 5742, 3653, 6725, 6618, 3984, 6013, 4224, 5090, 3490, 21355, 2276093, 16142, 13013, 72587, 11078, 5931, 5497, 16352, 3841, 8645, 7145, 5594, 5615, 5440, 5816, 5619, 3441, 3061, 21214, 62270, 5975, 5729, 10692, 194956, 3057, 3342, 3147, 3266, 4621, 4044, 3587, 11650, 3560, 3117, 8764, 9612, 4471, 5501, 5423, 3386, 3428, 26569, 31523, 72725, 43400, 51964, 82799, 72493, 41934, 67471, 51858, 72777, 175629, 69242, 52593, 117471, 197102, 3118, 64165, 57938, 3030, 5185, 6933, 3681, 16158, 5591, 3946, 3577, 3162, 10839, 5842, 5646, 8673, 7092, 23614, 3304, 3712, 3504, 3679, 3080, 5664, 25987, 31398, 3961, 3696, 5839, 4362, 4057, 3385, 4616, 3535, 25957, 5502, 8398, 205686, 133231, 3959, 5922, 7679, 4461, 3454, 3105, 'U-81000', 6148, 3979, 5633, 6042, 4291, 4773, 5904, 7187, 3448, 6726, 3246, 5892, 5812, 6003, 5734, 26243, 82519, 4572, 10149, 9865, 5930, 6035, 5880, 5503, 3502, 16654, 4386, 4894, 5555, 8389, 4622, 6121, 10752, 4037, 4514, 10280, 6262, 11717, 3910, 27553, 16126, 21026, 32238, 5411, 10760, 6778, 40590, 92862, 21245, 5439, 3158, 3029, 26369, 42925, 148188, 13924, 28380, 10902, 5908, 3152, 5716, 6404, 3551, 5640, 4273, 4440, 3836, 5650, 6213, 5793, 4017, 6284, 6663, 6211, 3184, 3606, 3388, 5678, 'Y-00004', 3116, 6388, 5690, 7756, 5971, 10908, 4002, 13394, 10907, 6361, 25894, 5451, 51854, 5725, 3579, 3685, 5897, 6090, 3585, 'C-13039', 1089908, 3814, 7712, 5836, 4808, 4857, 3539, 6015, 3313, 3580, 3294, 3127, 4753, 3368, 3249, 3525, 3980, 8054, 5144, 41623, 3300, 3254, 5962, 3582, 5441, 15920, 21210, 3632, 4166, 3894, 4708, 6379, 6711, 5427, 8172, 21254, 8106, 3658, 3859, 4092, 6016, 3157, 4982, 4523, 3998, 4488, 3786, 5832, 5566, 5669, 5275, 4047, 237720, 55158, 6739, 3482, 3252, 3501, 3594, 3695, 3187, 4040, 20199, 3156, 5612, 5540, 3621, 5625, 5422, 3618, 15649, 15612, 3258, 5516, 3195, 4949, 5583, 3068, 5956, 5871, 5717, 16098, 8944, 695552, 3377, 5151, 7694, 3189, 7428, 6051, 5352, 5676, 8664, 5861, 3494, 3970, 10247, 26085, 3774, 3572, 10226, 4946, 31140, 6305, 9311, 6520, 24122, 3584, 9288, 9883, 12308, 9033, 10995, 5465, 5602, 15720, 36326, 4886, 11007, 3338, 7090, 4006, 4570, 7918, 5741, 3754, 5512, 26057, 733608, 97985, 3645, 9262, 5770, 4054, 3592, 3966, 4956, 41376, 49781, 7052, 3460, 8136, 3953, 18770, '0001', 22838, 3601, 25947, 36506, 46825, 56946, 4550, 5750, 3145, 3750, 4458, 5972, 72438, 4858, 3292, 5698, 5916, 6065, 5807, 12099, 5674, 5995, 3929, 3054, 4324, 4563, 5398, 3344, 3528, 6062, 5314, 3264, 5802, 3093, 5292, 3919, 3835, 3652, 5642, 5782, 10961, 5854, 968075, 956350, 14757, 3507, 5344, 71924, 3427, 56994, 3793, 56889, 5260, 5760, 3574, 51324, 3830, 3743, 3311, 5685, 5568, 4235, 16012, 5471, 41755, 3048, 9971, 9197, 7228, 9938, 6150, 4500, 4467, 9855, 9506, 11094, 7274, 3285, 3573, 5100, 6204, 10350, 3576, 5158, 6767, 7698, 3478, 9859, 9334, 12202, 11818, 3642, 8105, 8200, 4094, 4264, 6554, 11434, 10385, 9185, 5890, 3983, 5881, 14920, 16195, 5087, 4842, 7563, 6702, 9843, 7352, 9557, 3398, 7327, 7100, 4862, 8350, 11355, 5230, 6473, 8755, 9683, 8610, 6126, 10164, 5662, 3954, 11942, 5076, 3524, 4896, 7549, 5192, 9069, 6182, 7633, 9229, 12120, 10851, 3707, 8127, 11015, 4958, 4370, 8733, 4938, 11516, 10240, 6242, 4876, 6901, 9598, 7318, 3756, 7107, 6977, 6864, 4175, 7656, 6513, 10674, 5348, 6217, 9131, 4688, 6501, 10018, 7553, 6746, 6961, 8494, 6506, 8397, 4653, 3438, 6108, 8462, 4590, 9199, 5584, 3484, 6697, 4297, 12498, 8228, 4267, 11088, 9473, 6682, 11087, 7094, 9398, 4762, 5074, 4474, 3926, 12977, 10433, 7984, 4034, 4540, 10881, 9364, 3928, 12650, 7821, 6993, 9088, 4891, 3429, 3911, 7250, 7316, 7243, 8771, 9638, 6528, 6692, 8414, 4626, 11959, 4108, 11197, 8940, 4240, 4649, 5016, 7704, 6622, 7933, 3938, 7795, 5022, 4486, 9619, 4232, 4840, 4576, 5457, 5460, 12103, 5549, 5548, 4354, 3365, 3390, 4615, 87418, 5529, 5841, 5744, 3516, 5833, 9585, 8156, 4210, 5406, 56835, 8239, 5700, 6610, 3396, 7005, 5515, 4114, 8793, 8339, 4119, 7872, 8811, 7454, 6840, 6400, 4416, 6303, 38661, 143915, 56753, 'U-82020', 3316, 4736, 6647, 4045, 5349, 30531, 85885, 4757, 5208, 4645, 3462, 5462, 6004, 5508, 4261, 15850, 10894, 3684, 5747, 4262, 5643, 9700, 8061, 16123, 51803, 3039, 5138, 5649, 5493, 72442, 9519, 5979, 3144, 3047, 10554, 3410, 5982, 7770, 4144, 3732, 5914, 6095, 27690, 3491, 3115, 3180, 36279, 46411, 3364, 13759, 51990, 4600, 419439, 17502, 6936, 4019, 25412, 5589, 3753, 4515, 26325, 5718, 7358, 5683, 3489, 34835, 5886, 4654, 5949, 6289, 4156, 3987, 8719, 6279, 3809, 4357, 23866, 36656, 3376, 5771, 5968, 133555, 6019, 3967, 3566, 3415, 7011, 3209, 9853, 4194, 36341, 8928, 4935, 3003, 4077, 4754, 3784, 9402, 6892, 5188, 5731, 3215, 6741, 13474, 3673, 4975, 3091, 4545, 6586, 3964, 4091, 4187, 8130, 4994, 4661, 3421, 6535, 4439, 3082, 6244, 4502, 5132, 15715, 5743, 5945, 3552, 3468, 5538, 8855, 5435, 5327, 6020, 15900, 10190, 4804, 11108, 5166, 8077, 5489, 5920, 5786, 4186, 5869, 5629, 4134, 9832, 26118, 31361, 34999, 31309, 128798, 20885, 'P-41011 ', 7110, 5988, 3857, 4056, 4710, 20464, 5617, 97792, 48317, 37747, 10676, 5797, 74943, 3301, 3578, 4921, 93129, 26300, 14044, 8271, 36577, 20991, 10938, 6008, 10777, 3812, 3939, 4018, 4776, 3849, 5684, 5817, 6038, 8637, 8322, 4176, 4709, 10945, 5428, 3298, 3286, 44702, 3458, 4081, 9032, 6030, 4875823, 3055, 3725, 5526, 12370, 5882, 5772, 5522, 4179, 5014, 36252, 3845, 10420, 3167, 3571, 3015, 4904, 11113, 10833, 3163, 5466, 51592, 3183, 10222, 20868, 8674, 8152, 8257, 14424, 7019, 9181, 7677, 7913, 9742, 4337, 8641, 15040, 4270, 6282, 9806, 10155, 9395, 8177, 15771, 9044, 7578, 6457, 6507, 4244, 9749, 6475, 8310, 3818, 25807, 16399, 5564, 12320, 18989, 15169, 9577, 9489, 8093, 8543, 4539, 10568, 6202, 20473, 7675, 7176, 7582, 13240, 10377, 12491, 11534, 5295, 7739, 13987, 6193, 7447, 5002, 5176, 12093, 7089, 4476, 5977, 5128, 16231, 17233, 5657, 4430, 3370, 8699, 3821, 7926, 5488, 5983, 5058, 5046, 4865, 5273, 4996, 5123, 3227, 4783, 5476, 4131, 4145, 65874, 9900, 7535, 8091, 7053, 6315, 7040, 6456, 4395, 7551, 6644, 6171, 4689, 4007, 6862, 5237, 'http', 9705, 3827, 62114, 10584, 7657, 6272, 5287, 97883, 50275, 3565, 3568, 37411, 6270, 5936, 8522, 6405, 11100, 61989, 10732, 5989, 7340, 11151, 7137, 5994, 3439, 3733, 9659, 5736, 3404, 3752, 14942, 6751, 3650, 7497, 5974, 4095, 5505, 15857, 13708, 5057, 4930, 11725, 5856, 118518, 190999, 5714, 47209, 16017, 7474, 8515, 40101, 3345, 5837, 5605, 3609, 5311, 10566, 62609, 4398, 4826, 5300, 5416, 4191, 3426, 6695, 5377, 4427, 6070, 9214, 10689, 23209, 10263, 3185, 8186, 7663, 4890, 6290, 6059, 3487, 8840, 61653, 46900, 6091, 11906, 61828, 41789, 17456, 4199, 5458, 266296, 3317, 8473, 4443, 3726, 3567, 5517, 5923, 3245, 3196, 3308, 5630, 3851, 3097, 5689, 5444, 5958, 98606, 3727, 3041, 36533, 3236, 3327, 7751, 36317, 5535, 4530, 6039, 5692, 230685, 4478, 3710, 3387, 3399, 82415, 46857, 8760, 7020, 103400, 35370, 41035, 83468, 21684, 25322, 502630, 25796, 46800, 27741, 41092, 135370, 16883, 3500, 3614, 3593, 5730, 3517, 244599, 'P_41001', 'P-41001', 13130, 7793, 5248, 3508, 5146, 6436, 5627, 36960, 4986, 8258, 7288, 31632, 3496, 4038, 15874, 3382, 3724, 10972, 3617, 47, 25372, 4424, 11399, 7976, 5647, 'U-81014', 4470, 21417, 3829, 1858238, 3274, 11396, 5226, 25990, 6906, 4396, 65, 67, 66, 10715, 3575, 3239, 3720, 9973, 4802, 4841, 14708, 10743, 38316, 103924, 23938, 38906, 10725, 9771, 5159, 10814, 7138, 5419, 5542, 6011, 7596, 343440, 7133, 6206, 3682, 3973, 3913, 3111, 10838, 5853, 5003, 5769, 5693, 3747, 9551, 7921, 7004, 8740, 3882, 7462, 4268, 4618, 6737, 4345, 4143, 3486, 4848, 6490, 3881, 5204, 6826, 5666, 6102, 4526, 3965, 25999]

- 내가 원하는 함수
    - 만약 errcode에 문자가 포함되어있거나 0으로 시작하면 그대로 두고
    - 정수면 int로 바꾼다.

In [85]:
for code in int_errcode:
    if type(code) == str:
        print(code)

NFANDROID2
B-A8002
standby
active
Q-64002
connection timeout
S-61001
terminate by peer user
connection fail to establish
connectionterminated by local host
UNKNOWN
U-81009
V-21008
connection fail for LMP response timout
S-64002
J-30021
S-65002
Q-64001
H-51042
C-11017
H-51046
scanning timeout
H-51049
V-21002
V-21003
V-21004
V-21005
P-44010
P-41011
B-51042
P-41007
M-99999
U-82024
P-44010
PHONE_ERR
H-51048
PUBLIC_ERR
U-82026
P-41007
C-13053
C-14014
V-21010
J-20029
J-30010
Y-00008
S-64000
En00409
E-59902
Q-73004
C-12032
J-40011
U-82023
Q-73006
D-10011
S-65
M-51007
S-64001
Y-00005
P_41007
CM a
D-99999
L2CAP connection cancelled
U-82004
En00402
B-51049
C-11020
V-21007
M-51020
En00406
C-11087
U-81000
Y-00004
C-13039
0001
U-82020
P-41011
http
P_41001
P-41001
U-81014

In [29]:
# errcode의 유니크값 확인결과 음수인 errcode는 -269 와 -270 이었다
minus_err = ['-269', '-270']
print('음수인 errcode:', minus_err)

minus_vari = pd.DataFrame(index=train_err.user_id.unique())

for code in tqdm(minus_err):
    # train_err.user_id의 컬럼만 갖고있는 minus_frame DataFrame 생성
    minus_frame = pd.DataFrame(train_err.user_id)
    # errcode가 code인 row를 추출
    minus_dummies = pd.get_dummies(train_err["errcode"] == code)
    # 컬럼명을 code로 하는 column 생성
    minus_frame[code] = minus_dummies.iloc[:,1] #두번째 컬럼이 조건식 True인 column
    # user_id로 groupby.sum() 실행
    minus_frame = minus_frame.groupby(minus_frame.user_id).sum()
    # 최종 variables dataframe에 그룹바이 한 column 추가
    minus_vari[code] = minus_frame[code]

display(minus_vari)

  0%|          | 0/2 [00:00<?, ?it/s]

음수인 errcode: ['-269', '-270']

100%|██████████| 2/2 [00:03<00:00,  1.97s/it]

       -269  -270
10000     0     0
10001     0     0
10002     0     0
10003     0     0
10004     0     0
...     ...   ...
24995     0     0
24996     0     0
24997     0     0
24998     0     0
24999     0     0

[15000 rows x 2 columns]

In [30]:
minus_vari["-270"].sum()

11

In [31]:
num_errcode = []
for i in errcode_uniq:
    if i.isdigit() == True:
        num_errcode.append(i)
num_errcode.sort()      

print(num_errcode)

['0', '0001', '1', '100', '10005', '10018', '10043', '10073', '10080', '101', '10101', '10149', '10153', '10155', '10164', '10190', '102', '10222', '10226', '10240', '10247', '10263', '10267', '10274', '102789', '10280', '103', '10305', '10309', '103400', '10350', '10377', '10385', '103924', '104', '10406', '10412', '10420', '10433', '105', '10518', '10552', '10554', '10557', '10566', '10568', '105690', '10573', '10584', '106', '10612', '10630', '10670', '10674', '10676', '10684', '10689', '10692', '107', '10715', '10720', '10721', '10725', '10732', '10743', '10749', '10752', '10760', '10768', '10777', '10782', '10792', '108', '10803', '10807', '10812', '108133', '10814', '10819', '10827', '10830', '10833', '10838', '10839', '10841', '10851', '10852', '10861', '10881', '10894', '10898', '1089908', '109', '10902', '10907', '10908', '10933', '10934', '10938', '10945', '10949', '10955', '10961', '10972', '10980', '10995', '10997', '110', '11007', '11014', '11015', '11033', '11043', '11063', '11068', '11070', '11078', '11087', '11088', '11094', '11100', '11108', '11113', '11146', '11151', '11197', '11251', '11259', '112910', '11295', '113066', '11324', '11355', '11396', '11399', '11434', '11516', '11534', '11650', '1166733', '11674', '11717', '11725', '1174404', '117471', '11751', '11818', '118518', '11864', '11886', '11906', '11942', '11959', '12', '120256', '12026', '12093', '12099', '12103', '12120', '12125', '12202', '12265', '12308', '12320', '12370', '12491', '12498', '12650', '12687', '12785', '128798', '12952', '12977', '13', '13013', '13130', '13162', '13171', '13240', '133231', '13339', '133496', '133555', '13394', '134588', '13474', '135370', '13708', '137526', '13759', '13924', '13987', '13995', '14', '140055', '14044', '14154', '143915', '14424', '14642', '14708', '14739', '14757', '148188', '14920', '14942', '15040', '15169', '15250', '15303', '154638', '15589', '15612', '15649', '15700', '15715', '15720', '15734', '15748', '15771', '15790', '15800', '15850', '15857', '15874', '15890', '15900', '15920', '15939', '15969', '159695', '15979', '15989', '15999', '16012', '16015', '16017', '16027', '16050', '16079', '16098', '16123', '16126', '16142', '16153', '16158', '16163', '16195', '16231', '16241', '16253', '16352', '16399', '16654', '16860', '16883', '169623', '17073', '17233', '17456', '174669', '17502', '175629', '17722', '181089', '184457', '184780', '1858238', '18664', '18699', '18770', '18836', '18989', '190999', '194956', '197102', '2', '20', '20152', '20199', '20464', '20473', '20557', '205686', '20816', '20859', '20868', '20885', '20906', '20911', '20920', '20934', '20985', '20991', '21', '21026', '21140', '21164', '21203', '21210', '21214', '21245', '21254', '21270', '21288', '21339', '21355', '21417', '214873', '21621', '21684', '21725', '21885', '22193', '2276093', '22838', '230685', '23209', '23252', '23614', '237720', '23866', '23938', '24001', '24122', '24285', '244599', '24569', '25322', '25372', '25412', '255847', '25667', '25796', '25807', '25894', '25947', '25957', '25962', '25987', '25990', '25999', '26057', '26085', '26118', '26133', '26145', '26166', '26171', '26213', '26243', '26246', '262579', '26300', '26325', '26347', '26369', '2638', '26414', '26569', '266296', '27198', '27553', '27690', '27741', '28380', '28506', '3', '3001', '3002', '3003', '3004', '3005', '3006', '3007', '3008', '3009', '3010', '3011', '3012', '3013', '3014', '3015', '3016', '3017', '3018', '3019', '3020', '3021', '3022', '3023', '3024', '3025', '3026', '3027', '3028', '3029', '3030', '3031', '3032', '3033', '3034', '3035', '3036', '30376', '3038', '3039', '3040', '3041', '30415', '3042', '3043', '3044', '3045', '3046', '3047', '3048', '3049', '3050', '3051', '3052', '3053', '30531', '3054', '3055', '3056', '3057', '3058', '3059', '3060', '3061', '3062', '3063', '3064', '3065', '3066', '3067', '3068', '3069', '3070', '3071', '3072', '3073', '3074', '3075', '3076', '3077', '3078', '3079', '3080', '3081', '3082', '3083', '3084', '3085', '3086', '3087', '3088', '3089', '3090', '3091', '3092', '3093', '3094', '3095', '3096', '3097', '3098', '3099', '3101', '3102', '3103', '3104', '3105', '3106', '3107', '3108', '3109', '3110', '3111', '3112', '3113', '3114', '31140', '3115', '3116', '3117', '31175', '3118', '3120', '3121', '3122', '3123', '3124', '3125', '3126', '3127', '3128', '3129', '3130', '31309', '3131', '3132', '3133', '3134', '3136', '31361', '3137', '3138', '3139', '31398', '3140', '3141', '31418', '3142', '3143', '3144', '3145', '3146', '31460', '3147', '3148', '3149', '3150', '3151', '3152', '31523', '3153', '3154', '3155', '3156', '3157', '3158', '3159', '3160', '3161', '3162', '3163', '31632', '3164', '3165', '3166', '3167', '3168', '3170', '3173', '3174', '3175', '3176', '3177', '3178', '31794', '3180', '3181', '3182', '3183', '3184', '3185', '3186', '3187', '3188', '3189', '3190', '3191', '3192', '3193', '3194', '3195', '3196', '3197', '3198', '3200', '3201', '3202', '3203', '3204', '3205', '3206', '3207', '3208', '3209', '3210', '3212', '3214', '3215', '3217', '3218', '3219', '3220', '3221', '3222', '3223', '32238', '3224', '3225', '3226', '3227', '3228', '3229', '3231', '3232', '3233', '3234', '3235', '3236', '3237', '3238', '3239', '3240', '3241', '3242', '3243', '3244', '3245', '3246', '3247', '3248', '3249', '3250', '3251', '3252', '3253', '3254', '3256', '3257', '3258', '3259', '3260', '3261', '3262', '3263', '3264', '3265', '3266', '3267', '3268', '3269', '3270', '3271', '3272', '3273', '3274', '3275', '3276', '3277', '3278', '3279', '3280', '3281', '3282', '3283', '3284', '3285', '3286', '3287', '3288', '3289', '3290', '3291', '3292', '3293', '3294', '3295', '3296', '3298', '3299', '3300', '3301', '3302', '3303', '3304', '3305', '3306', '3307', '3308', '3309', '3310', '3311', '3312', '3313', '3314', '3315', '3316', '3317', '3318', '3319', '3320', '3321', '3322', '3323', '3324', '3325', '3326', '3327', '3328', '3329', '3330', '3332', '3336', '3337', '3338', '3339', '3340', '3341', '3342', '3343', '3344', '3345', '3346', '3347', '3348', '3349', '3350', '3353', '3354', '3355', '3356', '3357', '3358', '3359', '3360', '3361', '3362', '3363', '3364', '3365', '3366', '3367', '3368', '3370', '3371', '3372', '3373', '3374', '3375', '3376', '3377', '3378', '33785', '3379', '3380', '3382', '3383', '3384', '3385', '3386', '3387', '3388', '3389', '3390', '3391', '3392', '3393', '3394', '3395', '3396', '3398', '33980', '3399', '3400', '3401', '3402', '3403', '3404', '3405', '3407', '3408', '3409', '3410', '3411', '3412', '3413', '3414', '3415', '3416', '3418', '3419', '3420', '3421', '3423', '3424', '3425', '3426', '3427', '3428', '3429', '3430', '3431', '3432', '3433', '3434', '343440', '3435', '3436', '3437', '3438', '3439', '3440', '3441', '3442', '3444', '3445', '3446', '3448', '3454', '3455', '3456', '3457', '3458', '3459', '3460', '3461', '3462', '3463', '3464', '3465', '3466', '3468', '3469', '3470', '3471', '3472', '3473', '3475', '3476', '3477', '3478', '3479', '3480', '3481', '3482', '3483', '34835', '3484', '3485', '3486', '3487', '3488', '3489', '3490', '3491', '3492', '3493', '3494', '3495', '3496', '3497', '3498', '3499', '34999', '3500', '3501', '3502', '3503', '3504', '3505', '3506', '35065', '3507', '3508', '3509', '3510', '3511', '3512', '35124', '3513', '3514', '3516', '3517', '3518', '3519', '3520', '3521', '3522', '3523', '3524', '3525', '3526', '3527', '3528', '3531', '3532', '3533', '3534', '3535', '3536', '3537', '35370', '3538', '3539', '3541', '3542', '3543', '3544', '3545', '3546', '3548', '3549', '3550', '3551', '3552', '3553', '3555', '3557', '3558', '3559', '3560', '3564', '3565', '3566', '3567', '3568', '3569', '3570', '3571', '3572', '3573', '3574', '3575', '3576', '3577', '3578', '3579', '3580', '3581', '3582', '3583', '3584', '3585', '3586', '3587', '3588', '3589', '3590', '3591', '3592', '3593', '3594', '3595', '3597', '3598', '3599', '3600', '3601', '3602', '3606', '3608', '3609', '3610', '3611', '3614', '3615', '3616', '3617', '3618', '3619', '3621', '36213', '3623', '3624', '3625', '36252', '3626', '3627', '3627157', '36279', '3630', '36317', '3632', '36326', '3633', '36333', '36341', '3638', '36388', '3639', '3640', '3641', '3642', '3643', '3644', '3645', '3646', '3648', '3649', '36490', '3650', '36506', '3652', '3653', '36533', '3654', '36541', '3655', '3657', '36577', '3658', '3659', '36616', '3662', '3663', '3664', '36656', '3666', '3667', '3669', '3671', '3672', '3673', '3674', '3677', '3679', '3681', '3682', '3683', '36831', '3684', '3685', '3688', '3690', '3691', '3693', '3694', '3695', '3696', '36960', '3697', '3699', '37', '3703', '3704', '3706', '3707', '3709', '3710', '3712', '3713', '3714', '3715', '3716', '3717', '3718', '3719', '3720', '3721', '3722', '3723', '3724', '3725', '3726', '3727', '3732', '3733', '3734', '3737', '3741', '37411', '3743', '3744', '3745', '3746', '3747', '3750', '3752', '3753', '3754', '3755', '3756', '3758', '3760', '3761', '3762', '3763', '3765', '3767', '3768', '3769', '3772', '3773', '3774', '37747', '3776', '3777', '3778', '3781', '3783', '3784', '3786', '3787', '3788', '3793', '3795', '38', '3802', '3805', '3806', '3809', '3810', '3811', '3812', '3813', '38135', '3814', '3816', '3818', '3820', '3821', '3822', '3823', '3824', '3825', '3826', '3827', '3828', '3829', '3830', '38316', '38326', '3835', '3836', '3838', '3839', '3841', '3842', '3843', '3844', '3845', '3847', '3849', '3851', '3854', '3855', '3857', '3859', '3862', '3865', '38661', '3871', '3875', '3876', '3877', '3881', '3882', '3883', '3886', '3889', '38906', '3894', '3895', '3897', '3899', '3902', '3903', '3905', '3910', '3911', '3912', '3913', '3914', '3917', '3919', '3920', '3922', '3925', '3926', '3928', '3929', '3931', '3932', '3933', '3938', '3939', '39391', '3941', '3942', '3943', '3945', '3946', '3947', '3948', '3950', '3951', '3953', '3954', '3956', '3959', '3961', '39613', '3964', '3965', '3966', '3967', '3970', '3971', '3973', '3974', '3975', '3976', '3977', '3979', '3980', '3983', '39830', '3984', '3987', '3998', '4', '4000', '40013', '4002', '4006', '4007', '4008', '40101', '4012', '4015', '4017', '4018', '4019', '4022', '4026', '4030', '4034', '4035', '4036', '4037', '4038', '4040', '4044', '4045', '4047', '4049', '4052', '4054', '4056', '4057', '4058', '40590', '4062', '4067', '4074', '4077', '4080', '4081', '4088', '4091', '4092', '4094', '4095', '41', '4102', '41035', '4105', '4108', '41092', '4114', '4119', '4123', '4126', '4131', '4133', '4134', '41356', '41365', '41376', '4138', '41403', '4141', '4143', '4144', '4145', '4149', '4150', '41554', '4156', '4160', '41623', '4165', '4166', '41677', '4171', '4175', '41755', '4176', '41789', '4179', '4182', '4183', '41838', '4186', '4187', '4189', '4191', '4192', '41934', '4194', '419439', '4195', '4197', '4199', '42', '4203', '4204', '4210', '4211', '4224', '4225', '4231', '4232', '4235', '4240', '4244', '4247', '4254', '4255', '4259', '4261', '4262', '4264', '4267', '4268', '4270', '4273', '4278', '4280', '4285', '4288', '4290', '4291', '42925', '4297', '4308', '4313', '4314', '4324', '4329', '4332', '4334', '4337', '43400', '4341', '4345', '43451', '4348', '4354', '4357', '4358', '4361', '4362', '43650', '4370', '4378', '4386', '4389', '4390', '4393', '4395', '4396', '4398', '4399', '4404', '4416', '4424', '4427', '4430', '4432', '4435', '44380', '4439', '4440', '4441', '4443', '4444', '4449', '4458', '4459', '4461', '4463', '4467', '4470', '44702', '4471', '4473', '4474', '4475', '4476', '4478', '4481', '4486', '4488', '4498', '4500', '4502', '4507', '4513', '4514', '4515', '4521', '4522', '4523', '4526', '4530', '4532', '4539', '4540', '4545', '4549', '4550', '4557', '4559', '4563', '4567', '4568866', '4570', '4572', '4575', '4576', '4577', '4590', '459578', '4596', '46', '4600', '4604', '4606', '4608', '4615', '4616', '4618', '4621', '4622', '4625', '4626', '4629', '4630', '46411', '4645', '4649', '4653', '4654', '4661', '46616', '4662', '46679', '46800', '46825', '4683', '46857', '4688', '4689', '46900', '46925', '4696', '47', '4703', '4708', '4709', '4710', '4714', '47209', '4721', '4729', '4733', '4735', '4736', '4741', '4750', '4753', '4754', '4757', '4759', '4762', '4773', '4776', '4778', '4783', '4787', '4796', '4799', '4802', '4804', '4805', '4807', '4808', '4821', '4824', '4826', '48317', '4837', '4840', '4841', '4842', '4848', '4857', '4858', '4862', '4865', '4866', '4875823', '4876', '4886', '4890', '4891', '4893', '4894', '4896', '4897', '4903', '4904', '4905', '4912', '4916', '4921', '4922', '4923', '4930', '4935', '4938', '4943', '4946', '4949', '4956', '4958', '4963', '4971', '4975', '4978', '49781', '4981', '4982', '4984', '4986', '4994', '4996', '5', '5001', '5002', '5003', '5007', '5014', '5016', '5022', '502630', '50275', '5041', '5046', '5048', '5057', '5058', '5074', '5076', '5087', '5090', '5100', '5102', '5113', '5117', '5123', '5128', '5132', '51324', '5138', '5144', '5146', '5151', '5157', '5158', '5159', '51592', '5160', '5166', '51670', '5168', '5175', '5176', '51803', '5185', '51854', '51858', '5188', '5192', '51964', '5199', '51990', '52002', '5204', '5205', '5208', '52094', '52103', '5215', '5223', '5226', '5230', '5237', '5245', '5248', '52593', '5260', '52668', '5270', '5273', '5275', '527746', '5287', '5292', '5295', '5300', '5311', '5314', '5320', '5326', '5327', '5328', '5341', '5342', '5344', '5348', '5349', '5352', '5362', '5367', '5372', '5374', '5377', '5379', '5382', '5385', '5388', '5389', '5391', '5392', '5393', '5396', '5398', '5401', '5404', '54043', '5406', '5407', '54094', '5411', '5412', '5415', '5416', '5418', '5419', '5420', '5421', '5422', '5423', '5424', '5426', '5427', '5428', '5429', '5430', '5431', '5435', '5437', '5438', '5439', '5440', '5441', '5442', '5443', '5444', '5447', '5449', '5451', '5452', '5453', '5454', '5455', '5456', '5457', '5458', '5459', '5460', '5461', '5462', '5463', '5464', '5465', '5466', '5467', '5468', '5469', '5470', '5471', '5472', '5473', '5474', '5475', '5476', '5477', '5478', '5480', '5482', '5483', '5484', '5485', '5486', '5487', '5488', '5489', '5491', '5492', '5493', '5494', '5496', '5497', '5498', '5499', '5501', '5502', '5503', '5504', '5505', '5506', '5507', '5508', '5509', '5510', '5511', '5512', '5513', '5514', '5515', '55158', '5516', '55163', '5517', '5518', '5519', '5520', '5521', '5522', '5523', '5524', '5526', '5527', '5528', '5529', '5530', '5533', '5535', '5536', '5537', '5538', '5539', '5540', '5541', '5542', '5543', '5545', '5548', '5549', '5550', '5551', '5552', '5553', '5554', '5555', '5556', '5557', '5558', '5559', '5561', '5562', '5563', '5564', '5566', '5567', '5568', '5569', '5570', '5572', '5573', '5575', '5576', '5577', '5578', '5580', '5581', '5583', '5584', '5585', '5586', '5587', '5588', '5589', '5590', '5591', '5593', '5594', '5595', '5597', '5599', '5600', '5602', '5603', '5604', '5605', '5606', '5607', '5608', '5610', '5611', '5612', '5615', '5616', '5617', '5619', '5620', '5621', '5624', '5625', '5626', '5627', '5629', '5630', '5631', '5632', '5633', '5634', '5636', '5637', '5638', '5639', '5640', '5641', '5642', '5643', '5644', '5645', '5646', '5647', '5649', '5650', '5651', '5653', '5654', '5655', '5657', '5658', '5659', '5660', '5662', '5663', '5664', '5665', '5666', '5667', '5668', '5669', '5670', '5671', '5674', '5675', '56753', '5676', '5677', '5678', '56789', '5679', '5680', '5682', '5683', '56835', '5684', '5685', '5686', '5687', '5688', '56889', '5689', '56896', '5690', '5691', '5692', '5693', '5694', '56946', '5695', '5696', '5697', '5698', '5699', '56994', '5700', '5701', '5702', '5705', '5707', '5708', '5709', '5710', '5712', '5714', '5715', '5716', '5717', '5718', '5721', '5722', '5724', '57247', '5725', '5726', '5727', '5728', '5729', '57293', '5730', '5731', '5732', '5733', '5734', '5735', '5736', '5737', '5738', '5740', '5741', '5742', '5743', '5744', '5746', '5747', '5748', '5749', '5750', '5751', '5752', '5753', '5754', '5755', '5757', '5758', '5759', '5760', '5761', '5762', '5763', '5764', '5765', '5766', '5767', '5768', '5769', '5770', '5771', '5772', '5773', '5774', '5775', '5776', '5777', '5779', '5780', '5782', '5783', '5784', '5785', '5786', '5787', '5788', '5789', '5790', '5791', '5792', '5793', '57938', '5794', '5795', '5796', '5797', '5798', '5799', '5800', '5802', '5803', '5804', '5805', '5807', '5808', '5809', '5810', '5811', '5812', '5813', '5814', '5815', '5816', '5817', '5819', '5820', '5821', '5822', '5823', '5824', '5825', '5826', '5827', '5828', '5829', '5830', '5831', '5832', '5833', '5834', '5835', '5836', '5837', '5839', '5841', '5842', '5843', '5844', '5845', '5847', '5848', '5849', '5850', '5851', '5852', '5853', '5854', '5855', '5856', '5858', '5859', '5860', '5861', '5863', '5864', '5867', '5869', '5870', '5871', '5872', '5873', '5874', '5875', '5876', '5877', '5878', '5879', '5880', '5881', '5882', '5883', '5884', '5886', '5887', '5889', '5890', '5891', '5892', '5893', '5894', '5897', '5898', '5901', '5903', '5904', '5905', '5906', '5908', '5909', '5910', '5911', '5912', '5913', '5914', '5915', '5916', '5917', '5919', '5920', '5922', '5923', '5924', '5925', '5927', '5928', '5930', '5931', '5932', '5933', '5934', '5935', '5936', '5937', '5938', '5941', '5942', '5943', '5944', '5945', '5946', '5947', '5948', '5949', '5950', '5952', '5953', '5954', '5955', '5956', '5957', '5958', '5959', '5961', '5962', '5963', '5967', '5968', '5969', '5970', '5971', '5972', '5973', '5974', '5975', '5976', '5977', '5978', '5979', '5980', '5982', '5983', '5984', '5985', '5986', '5987', '5988', '5989', '5990', '5991', '5992', '5993', '5994', '5995', '59951', '5996', '5997', '5998', '5999', '6', '6000', '6003', '6004', '60045', '6005', '6008', '6009', '6010', '6011', '6013', '6014', '6015', '6016', '6019', '6020', '6021', '6023', '6024', '6025', '6028', '6030', '6032', '6034', '6035', '6036', '6038', '6039', '6042', '6047', '6048', '6051', '6053', '6056', '6059', '6062', '6064', '6065', '6070', '6074', '6075', '6081', '6088', '6090', '6091', '6093', '6095', '6100', '6102', '6104', '6108', '6111', '6117', '6118', '6121', '6122', '6123', '6126', '6140', '6142', '6148', '6150', '6152', '6158', '61653', '6166', '6171', '6175', '6176', '6177', '6179', '6182', '61828', '61852', '6186', '6192', '6193', '6196', '61989', '62', '6200', '6202', '6204', '6206', '6211', '62114', '6212', '6213', '6217', '62270', '6242', '6244', '62455', '6258', '62609', '6262', '6263', '6270', '6272', '6279', '6282', '6284', '6285', '6289', '6290', '6292', '6303', '6305', '6315', '6316', '6321', '6326', '6344', '6345', '6361', '6362', '6363', '6364', '6379', '6388', '6396', '6400', '64013', '6402', '6404', '6405', '6410', '6412', '64165', '6419', '6434', '6436', '6447', '6456', '6457', '6465', '6466', '6467', '6473', '6474', '6475', '6485', '6490', '65', '6501', '6502', '6506', '6507', '6513', '6520', '6528', '6532', '6535', '6545', '6554', '6586', '65874', '6592', '6599', '66', '6610', '6618', '6621', '6622', '6644', '6647', '6663', '6667', '6679', '6682', '6692', '6695', '6696', '6697', '66986', '67', '6702', '6711', '6714', '67245', '6725', '6726', '6737', '6739', '6741', '6743', '6746', '67471', '6751', '6758', '6759', '6767', '6778', '6796', '68', '6806', '6826', '6829', '6830', '6837', '6840', '6846', '6852', '6862', '6864', '6892', '6894', '6898', '69', '6901', '6904', '6906', '6920', '69242', '6933', '6936', '6942', '6947', '6951', '695552', '6958', '6961', '6977', '6993', '70', '700001', '7004', '7005', '7011', '7019', '7020', '7040', '7052', '7053', '7089', '7090', '7092', '7094', '71', '7100', '7107', '7110', '7124', '7133', '7137', '7138', '7145', '7168', '7176', '7187', '7190', '71924', '72', '72038', '7228', '7236', '7237', '72385', '7243', '72438', '72442', '7248', '72493', '7250', '72587', '72725', '7274', '72777', '7288', '73', '7301', '7316', '7318', '73195', '7321', '7327', '733608', '7339', '7340', '7352', '7358', '7370', '7396', '74', '7406', '7408', '7428', '7433', '7442'

- 숫자로만 구성된 errcode를 추출하였고,
    - 기준은 1초과 10미만
    - 10번대, 20번대, 30번대, ... , 100번대
    - 세자리수
    - 네자리수
    - 다섯자리 이상
- 이렇게 총 11+3 = 14개 컬럼을 생성할 예정..
- 이었으나 일반 숫자는 관두기로 했다. 다음에 기회가 된다면 다시하는 걸로..